doctype html

html(lang='en')  
  head
    title Uno Lobby #{id}
    link(rel='stylesheet', href='/styles/game.css')
    link(rel='stylesheet', href='/styles/card.css')
    link(rel='stylesheet', href='/styles/popup.css')
    link(rel='stylesheet', href='/styles/player.css')
    script(type="module", src='/client/main.js')
  body
    - let url = '/game/'+gameId+'/endGame';
    form(id='endGameForm' action=url method='POST')

    div#notify-container

    div.grid-main
      div.grid-game
          div#board
          div#hand
      div.grid-info
          div#players
            div#players-reverse Rotation: #{rotation}
            div#players-you You are player #{playerNum}.
            div#players-current It's player #{currentPlayer}'s turn. 
            div#players-list
              div.player
                div #{neighbors[0].card_status} 
                div #{neighbors[0].username} 
                div #{neighbors[0].count}
              div.player
                div #{neighbors[1].card_status} 
                div #{neighbors[1].username} 
                div #{neighbors[1].count}
              div.player
                div #{neighbors[2].card_status} 
                div #{neighbors[2].username} 
                div #{neighbors[2].count}
              div.player
                div #{neighbors[3].card_status} 
                div #{neighbors[3].username} 
                div #{neighbors[3].count}

          div#chat
            div#chat-input
                form(id='chat-form') 
                  label(for='chatTextInput')
                  input(type='text' name='chatTextInput' id='msg' 
                  placeholder='type message')
                  input(type='submit' style='display: none')
            div#chat-messages

          div#choose-colors.card-yellow Selected Color:
            div#currentColor yellow
            button(id='chooseYellow') yellow
            button(id='chooseBlue') blue
            button(id='chooseGreen') green
            button(id='chooseRed') red

  // ======== Imported Libraries ==========
  script(src='https://js.pusher.com/7.0/pusher.min.js')
  script(type="module", src='/client/pusher.js')
