doctype html  

html(lang='en')  
  head
    title Uno Lobby #{id}
    link(rel='stylesheet', href='/styles/game.css')
    script(type="module", src='/client/main.js')
  body
    - let url = '/game/'+gameId+'/endGame';
    form(id='endGameForm' action=url method='POST')

    div.grid-container
      div -
      div#p2 player number: #{neighbors[1].card_status} 
        div#p2Cards number of cards: #{neighbors[1].count}
      div -

      div#p3 player number: #{neighbors[0].card_status} 
        div#p3Cards number of cards: #{neighbors[0].count}
      div#board 
        div#boardStatus Current Player: #{currentPlayer} Rotation: #{rotation}
      div#p4 player number: #{neighbors[2].card_status} 
        div#p4Cards number of cards: #{neighbors[2].count}

      div You are player: #{playerNum}
      div#hand
      // choose color button
      div#colorChooser choose a color:
        div#currentColor yellow
        button(id='chooseYellowBtn') yellow
        button(id='chooseBlueBtn') blue
        button(id='chooseGreenBtn') green
        button(id='chooseRedBtn') red

  // ======== Imported Libraries ==========
  script(src='https://js.pusher.com/7.0/pusher.min.js')
  script(type="module", src='/client/pusher.js')
