extends layout

block content
  h1= title
  p Welcome to #{title} 
  p This is the game room for game #{gameId}
  // Heading
  h1
    = "Game id: " + gameId + " | Number of players: " + numPlayers

  div#gameUsers
    // list all users
    each username in usernames
      h3= "User: " + username.username

  // Buttons
  - let url = '/users/leaveGame/' + gameId
  form(id='leaveGameForm' action=url method='POST')
    input(type='submit' value='leave game')
  a(href='/lobby')
    button(type="button" class="lobby") lobby

  // ======== Imported Libraries ==========
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
  script(src='/socket.io/socket.io.js')
  script(type='module' src='/js/gameLobby.js')

  // ======= find peter for questions ======
  script( 
    var socket_id = -1; 
    var socket = io();
    socket.on("connect", ()=>{
      socket_id = socket.id;
    });
  )
  script ()

//if question find peter
//======  game socket ======//
//please user this to get user id 
// mine is just a demo, please tweak.


// you can have button to send request to serve like this 
// first para is event name, and the rest you can custom 
//socket.emit('gameEvent', {userID: my_id, gameEvent: shuffleCards})
//our server will send back data after your call.

