doctype html  

html(lang='en')  
  head
    title Uno Lobby #{id}
    link(rel='stylesheet', href='/styles/game.css')
    script(type="module", src='/client/main.js')
  body
    div.grid-container
      div -
      div#p2 TOPPPPP player number: #{neighbors[1].card_status} 
        div#p2Cards number of cards: #{neighbors[1].count}
      div -

      div#p3 LEFTTTTT player number: #{neighbors[0].card_status} 
        div#p3Cards number of cards: #{neighbors[0].count}
      div#board 
        div#boardStatus Current Player: #{currentPlayer} Rotation: #{rotation}
      div#p4 RIGHTTTTT player number: #{neighbors[2].card_status} 
        div#p4Cards number of cards: #{neighbors[2].count}

      div You are player: #{playerNum}
      div#hand
      div -

  // ======== Imported Libraries ==========
  script(src='https://js.pusher.com/7.0/pusher.min.js')
  script(src='/client/pusher.js')
